{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="faq">
    <h2>FAQ Page</h2>
    <br><br><br>
    <h3>I'm a UK customer. Have you received my returned items?</h3>
    <p>It can usually take up to 7 working days (excluding weekends and bank holidays) from the day after the date of your
        <br>return, for your parcel to be delivered back to our warehouse and processed.</p>
    <br><br><br>
    <h3>What should I do if my order hasn't been delivered yet?</h3>
    <p>Your estimated delivery date is in your Order Confirmation email – please allow until this date for your order
        to arrive.</p>
    <br><br><br>
    <h3>Can I track the delivery of my order?</h3>
    <p>If your order has been sent to you using a trackable service, you can follow its journey to you. You'll
        receive a shipping confirmation email from our warehouse once your order is on its way; simply click on your
        tracking link on this email to view the up to date tracking.</p>
    <br><br><br>
    <h3>How does the delivery service work in the UK?</h3>
    <p>It can usually take up to 7 working days (excluding weekends and bank holidays) from the day after the date of your
        <br>return, for your parcel to be delivered back to our warehouse and processed.</p>
    <br><br><br>
    <h3>I'm a UK customer. Have you received my returned items?</h3>
    <p>We know how important it is to receive your goods when you expect them, especially if you've ordered something
        for a specific occasion, and we use a large network of couriers to deliver goods.
        We allocate the delivery partner based on the delivery method selected and the value of your order.</p>
    <br>
</div>

{% endblock content %}
