{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="media">
        <div class="media-body">
            <h2>Profile</h2>
            <br>
            <p class="account-heading"><b>Username: </b>{{ user.username }}</p>
            <p class="account-heading"><b>Email: </b>{{ user.email }}</p>
            <p class="account-heading"><b>First Name: </b>{{ user.first_name }}</p>
            <p class="account-heading"><b>Last Name: </b>{{ user.last_name }}</p>
        </div>
    </div>
    <form method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class = "form-group">
              {{ user_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update Profile</button>
        </div>
    </form>
</div>

{% endblock content %}
